<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jms 
                           http://www.springframework.org/schema/jms/spring-jms.xsd">

	<context:component-scan base-package="com.solveapuzzle.mapping.agnostic" />

	<!-- MappingRepository -->
    <bean id="mappingRepository" class="com.solveapuzzle.mapping.agnostic.MappingRepositoryTestImpl"/>

	<!-- MapperFactory -->

   <bean id="mapperFactory"
            class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean">
     <property name="serviceLocatorInterface" value="com.solveapuzzle.mapping.agnostic.MapperFactory"/>
   </bean>

	<!-- Mapper(s) -->
	<bean id="saxonMapper" class="com.solveapuzzle.mapping.agnostic.SaxonMapper">
	   <property name="mappingRepository" ref="mappingRepository"/>
	</bean>
	<bean id="xercesMapper" class="com.solveapuzzle.mapping.agnostic.XercesMapper">
	   <property name="mappingRepository" ref="mappingRepository"/>
	</bean>


	<!-- Mapping Engine -->
    <bean id="mappingEngine" class="com.solveapuzzle.mapping.agnostic.MappingEngineImpl">
      <property name="mappingRepository" ref="mappingRepository"/>
      <property name="mapperFactory" ref="mapperFactory"/>
    </bean>




</beans>